# virtual environments
venv/
.venv/

# environment files
.env
**/.env

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]

# datasets
datasets/
**/datasets/

# model files
/project/model/models/**
!/project/model/models/
!/project/model/models/__init__.py

# archives
*.zip

# logs
runlogs/
**/runlogs/
*.log

# test files
tests/
test/
**/tests/