# discord
discord.py
python-dotenv
google-api-python-client
# data
emoji
langid
jieba
beautifulsoup4
opencc-python-reimplemented
pandas
contractions
# model
matplotlib
datasets
--index-url https://pypi.org/simple
--extra-index-url https://download.pytorch.org/whl/cu126
torch
torchvision
torchaudio
transformers[torch]
sentence-transformers
KeyBERT
hdbscan
tqdm