# Shared by FastAPI and the Next.js inference proxy
INFERENCE_API_SECRET=YOUR_SECRET_KEY

# Discord bot
TOKEN = YOUR_DISCORD_BOT_TOKEN

# YouTube API
API_KEY = YOUR_YOUTUBE_API

# Ollama
OLLAMA_HOST=http://host.docker.internal:11434 # host.docker.internal | localhost
OLLAMA_MODEL=gemma3:12b # gemma3:12b | llama3.2:3b

# Whisper 
WHISPER_MODEL_SIZE=small # base | small | medium | large
WHISPER_BEAM_SIZE=8
WHISPER_BEST_OF=5
WHISPER_PATIENCE=1.2
WHISPER_CONDITION_ON_PREVIOUS_TEXT=True
